@media screen and (max-width: 320px) {
    .wrap {
        width: 320px;
    }
    .header {
        height: 800px;
        background: url("./imagesIphone/heroimage.png");

    }
    .header__logo img {
        padding-top: 20px;
        padding-left: 14px;
        width: 30px;
        height: 21.77px;
    }
    .welcome {
        width: 276px;
        height: 119px;
        top: 303px;
        left: 22px;
    }
    .welcome__good {
        width: 236px;
        height: 34px;
        font-size: 25px;
        line-height: 34px;
    }
    .welcome__restourant {
        margin-top: -5px;
        margin-left: -20px;
        width: 276px;
        height: 85px;
        font-size: 35px;
        line-height: 46px;
    }
    .welcome__home-best-food {
        margin-top: -40px;
        margin-left: -40px;
    }
    .linetext1, .linetext3 {
        width: 20px;
        margin-top: -5px;
    }
    .linetext2 {
        padding: 0 5px;
        font-size: 12px;
        line-height: 20px;
    }
    .viewmenu {
        margin-left: 50px;
    }
    .position_window {
        width: 298px;
        height: auto;
        flex-direction: column;
        left: 15px;
    }
    .position_window_box1,
    .position_window_box2,
    .position_window_box3 {
        width: 290px;
        height: 276px;
        margin-bottom: 14px;
    }
    .imglogofood {
        margin-top: 5px;
    }
    .firsttext, .spancolor {
        margin-top: 0;
        font-size: 26px;
    }
    .lasttext {
        margin-top: 10px;
        font-size: 22px;
    }
    .historybox {
        margin-top: 800px;
        width: 300px;
        flex-direction: column;
    }
    .historybox__content {
        margin-left: 10px;
        width: 300px;
    }
    .history__content_restouran,
    .h2text {
        font-size: 32px;
    }
    .history__content_data {
       flex-direction: column;
    }
    .data__food {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .historybox__colage {
        margin-top: -170px;
        width: 300px;
        left: 10px;
    }
    .historybox__colage_img0 {
        width: 114px;
        height: 84px;
        right: 40px;
    }
    .historybox__colage_img1 img {
        width: 137px;
        height: 221px;
    }
    .historybox__colage_img1 {
        left: 97px;
    }
    .historybox__colage_img2 img {
        width: 125px;
        height: 154px;
    }
    .historybox__colage_img2 {

    }
    .historybox__colage_img3 img {
        width: 137px;
        height: 205px;
    }
    .historybox__colage_img3 {
        top: 130px;
        right: 10px;
    }
    .orderline {
        margin-top: 400px;
        width: 320px;
        height: 357px;
        flex-direction: column;
    }
    .orderline__call {
        margin-left: 5px;
    }
    .orderline__call_text1 {
        margin-top: 20px;
        font-size: 28px;
        line-height: 40px;
        text-align: center;
    }
    .orderline__call_text2 {
        text-align: center;
    }
    .orderline__buttom {
        margin-right: 15px;
        margin-bottom: 40px;
    }
    .ourdishes {
        width: 320px;
        padding-top: 50px;
    }
    .ourdishes__border {
        width: 320px;
    }
    .ourdishes__name,
    .ourdishes__name_color {
        margin-bottom: 50px;
        font-size: 32px;
    }
    .ourdishes__image {
        flex-direction: column;
    }
    .ourdishes__image_logo {
        width: 320px;
        margin-right: 125px;
        margin-bottom: 10px;
    }
    .ourdishes__image_menu {
        width: 320px;
    }
    .ourdishes__image_menu1,
    .ourdishes__image_menu2,
    .ourdishes__image_menu3 {
        margin: 10px 10px 8px 10px;
    }
    .imgfirst img {
        width: 150px;
        height: 123px;
    }
    .cheklist {
        margin-left: 10px;
        font-size: 22px;
    }
    .ourmenubar {
        margin-top: 285px;
        width: 320px;
    }
    .ourmenubar__h2menu {
        left: 25px;
    }
    .ourmenubar__product {
        width: 290px;
        display: block;
        left: 13px;
    }
    .ourmenubar__product_item1,
    .ourmenubar__product_item2,
    .ourmenubar__product_item3 {
        width: 290px;
        height: 510px;
        margin-bottom: 230px;
    }
    .item_prisefoto {
        left: 30px;
    }
    .item_price {
        right: 30px;
    }
    .item_productname {
        left: 50px;
    }
    .item_discription {
        left: 32px;
    }
    .item_buttom {
        left: 35px;
    }
    .commentaries {
        width: 320px;
    }
    .comment__text {
        width: 310px;
        left: 5px;
        top: 20px;
    }
    .comment_face {
        left: 100px;
        top: 320px;
    }
    .comment_who {
        top: 420px;
        left: 100px;
    }
    .comment_nameuser {
        top: 450px;
        left: 115px;
    }
    .galereadishes {
        width: 320px;
        height: auto;
    }
    .galereadishes__slider_cliker1,
    .galereadishes__slider_cliker2 {
        z-index: 1;
    }
    .galereadishes__slider_fotos {
        width: 300px;
        left: 9px;
        display: block;
        margin-bottom: 10px;
    }
    .slider_fotos_box1 {
        width: 300px;
        display: block;
        margin-bottom: 10px;
    }
    .slider_fotos_box2 {
        margin-top: 335px;
        width: 300px;
        display: block;
        margin-bottom: 10px;
    }
    .slider_fotos_box1 img,
    .slider_fotos_box2 img {
        width: 300px;
        height: 300px;
    }
    .ourcooks {
        width: 320px;
        height: auto;
    }
    .ourcooks__name,
    .ourcooks__name_color {
        margin-top: 1890px;
        font-size: 32px;
    }
    .ourcooks__faces {
        top: 200px;
        left: 9px;
        width: 300px;
        display: block;

    }
    .faces1 img, .faces2 img,
    .faces3 img {
        width: 300px;
        height: 400px;
    }
    .faces2 {
        margin: -50px 0;
    }
    .footerbar {
        margin-top: 1295px;
        width: 320px;
        height: 556px;
        background: url("./imagesIphone/footer-iPhone.png");
        box-sizing: border-box;
    }
}